# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.husky/_

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
.cache/
.next/
out/
coverage/
public/

# React-specific
*.env.local
*.env.development.local
*.env.production.local
*.env.test.local

# Python (Facial Recognition)
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# MongoDB
dump/
*.pem
